{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="jumbotron">
        
	<div class="form-group">
  <label class="control-label" for="inputDefault">Dispatcher User Search</label>
  <input type="text" class="form-control" id="dispatcherSearch">
  <span class="input-group-btn">
      <button class="btn btn-default" type="button">Search</button>
  </span>
</div>

<style>
       #map {
        height: 400px;
        width: 70%;
       }
    </style>
            <body>
    <div id="map"></div>
    <script>
      // Note: This example requires that you consent to location sharing when
      // prompted by your browser. If you see the error "The Geolocation service
      // failed.", it means you probably did not give permission for the browser to
      // locate you.
      var map, infoWindow;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 39.00, lng: -75.00},
          zoom: 6
        });
        infoWindow = new google.maps.InfoWindow;

        // Try HTML5 geolocation.
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };
		  
		  var lat = position.coords.latitude;
		  var long = position.coords.longitude;
		  document.querySelector('.results').innerHTML = lat +', '+ long;

			  var marker = new google.maps.Marker({
				position: pos,
				map: map,
				title: 'Uluru (Ayers Rock)'
				
				});
				map.setCenter(pos);
				
				marker.addListener('click', function() {
				infoWindow.setPosition(pos);
				infoWindow.setContent('Location found! '+'Latitude: '+ (position.coords.latitude)+' ' +'Longitude: '+(position.coords.longitude));
				infoWindow.open(map);
			});
			
          }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
          });
        } else {
          // Browser doesn't support Geolocation
          handleLocationError(false, infoWindow, map.getCenter());
        }
      }

      function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
                              'Error: The Geolocation service failed.' :
                              'Error: Your browser doesn\'t support geolocation.');
        infoWindow.open(map);
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDYFtU43cZw-VnMYs7k8oXqTwUBRqQMpYs&callback=initMap">
    </script>
  <p> <h3>Location Coordinates: <span class ="results"></span></h3></p>    
	<p> <h3>Street Address: 3141 Chestnut St, Philadelphia, PA 19104</h3></p>

  </body>
  </br>
  <div>
<table id="projectSpreadsheet" class="fixed_headers" style="width:auto" >
				<tr>
					<th>Account Information</th>
					<th>About</th>
					<th>Medical Information</th>
					<th>Police Emergency </th>
					<th>Fire Emergency </th>
				</tr>
					<tbody id="tbodyid">
						<!-- Column 1 -->
						<tr>
							<td>Username: isstaff</td>
							<td>First Name: Mike</td>
							<td>Allergies: N/A</td>
							<td>Pets: 2 Dogs</td>
							<td>Family Members: 2</td>
						</tr>
					
						<!-- Column 2 -->
						<tr>
							<td>Email Address: mikew@google.com</td>
							<td>Last Name: WednesdayFun</td>
							<td>Pre-Existing Conditions: N/A</td>
							<td>Home Firearms: 1 Rifle</td>
							<td>Family Details: Wife and child</td>
						</tr>
						
						<!-- Column 3 -->
						<tr>
							<td></td>
							<td>Phone Number: (768) 657-7890</td>
							<td>Medications: N/A</td>
							<td></td>
							<td></td>
						</tr>
						
						<!-- Column 4 -->
						<tr>
							<td></td>
							<td>Address: 617 Liberty Place, Philadelphia, PA, 178290</td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</tbody>
			</table>
<br><br>
<tr><td><td><a href="#" id="xx" style="text-decoration:none;color:#000;background-color:#ddd;border:1px solid #ccc;padding:8px;">Export table data to CSV</a></td>
<td><a href="#" id="xx" style="text-decoration:none;color:#000;background-color:#ddd;border:1px solid #ccc;padding:8px;">Export table data into HL7</a></td></td></tr>
		
  </div>
  </br>
  <div>
  
   <table style="width:25%">
  <tr>
    <th>Call History</th>
  </tr>
  <tr>
    <td style="color:red;">05/17/2017  2:42:13am</td>
  </tr>
  <tr>
    <td>10/04/2016  3:06:22pm</td>
  </tr>
  <tr>
    <td>04/12/2016  5:12:30pm</td>
  </tr>
  <tr>
    <td>07/30/2014  1:02:01pm</td>
  </tr>
</table> 

  </div>
        </div>
    </div>
</div>
{% endblock %}
