<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

{% extends 'base.html' %}

{% block title %}iPear Account Creation{% endblock %}

{% block content %}

<!DOCTYPE HTML>
<html>
<head>
<title>iPear Account Creation</title>
<link href="css/style.css" rel="stylesheet" type="text/css" media="all"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<meta name="keywords" content="iPear Account Creation" />
<!--web-fonts-->
<link href='//fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>

<!--web-fonts-->
</head>
<body>
                <div class="header w3ls">
                    <h1 class="header">iPear</h1>
                </div>
		<!---main--->
			<div class="main">
				<div class="main-section agile">
					<div class="login-form">
						<h2>User Information</h2>
						<p>Please fill out all of the following fields. </p>
						<form action="{% url 'thankyou' %}" method="GET">
                                                        <!-- Temporarily commented out the required tag. -->
														
														<ul>
								 <li class="text-info">Username :</li>
								 <li><input type="text" name="username" placeholder="<?php echo $_POST['username'] ?>" readonly><!---required---></li>
								 <div class="clear"></div>
								 
							</ul>
							<ul>
								 <li class="text-info">Password :</li>
								 <li><input type="text" name="password" placeholder="<?php echo $_POST['password'] ?>" readonly><!---required---></li>
								 <div class="clear"></div>
							</ul>
							<ul>
								 <li class="text-info">Phone Number :</li>
								 <li><input type="text" name="phone_number" placeholder="<?php echo $_POST['phone_number'] ?>" readonly><!---required---></li>
								 <div class="clear"></div>
							</ul>							
							<ul>
								 <li class="text-info">First Name :</li>
								 <li><input type="text" name="first_name" placeholder="" ><!---required---></li>
								 <div class="clear"></div>
							</ul>
							<ul>
								 <li class="text-info">Last Name :</li>
								 <li><input type="text" name="last_name" placeholder="" ><!---required---></li>
								 <div class="clear"></div>
							</ul>
							<ul>
								 <li class="text-info">Age :</li>
								 <li><input type="text" name="age" placeholder="" ><!---required--->></li>
								 <div class="clear"></div>
							</ul>
							<ul>
								 <li class="text-info">Gender :</li>
								 <li><input type="text" name="gender" placeholder="" ><!---required---></li>
								 <div class="clear"></div>
							</ul>
							<ul>
								 <li class="text-info">Address :</li>
								 <li><input type="text" name="address=" placeholder="" ><!---required---></li>
								 <div class="clear"></div>
							</ul>
							<ul>
								 <li class="text-info">Cell Phone Number:</li>
								 <li><input type="text" name="cell_phone_number" placeholder="" ><!---required---></li>
								 <div class="clear"></div>
							</ul>
							<ul>
								 <li class="text-info">Email :</li>
								 <li><input type="text" name="email" placeholder="" ><!---required---></li>
								 <div class="clear"></div>
							</ul>
							<ul>
								<li class="text-info">Allergies :</li>
								<li><textarea name="allergies" placeholder="" ></textarea></li>
								<div class="clear"></div>
							</ul>
							<ul>
								<li class="text-info">Pre-Existing Conditions :</li>
								<li><textarea name="conditions" placeholder="" ></textarea></li>
								<div class="clear"></div>
							</ul>
							<input type="submit" value="Submit">
							<div class="clear"></div>
						</form>
					</div>
				</div>
			</div>
			<div class="footer w3agile">
			<p>&copy 2016 iPear. All rights reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p>
		</div>

		<!---main--->
</body>
</html>

{% endblock %}
