{% extends 'base.html' %}


{% block title %} 
user.username 
{% endblock %}


{% block content %}


<div class="container">
    
	<div class="row">
        
		<div class="jumbotron">
		
			<table id="projectSpreadsheet" class="fixed_headers" style="width:auto" >
				<tr>
					<th>Account Information</th>
					<th>About</th>
					<th>Medical Information</th>
					<th>Police Emergency </th>
					<th>Fire Emergency </th>
				</tr>
					<tbody id="tbodyid">
						<!-- Column 1 -->
						<tr>
							<td>Username: {{user.username}}</td>
							<td>First Name: Mike</td>
							<td>Allergies: N/A</td>
							<td>Pets: 2 Dogs</td>
							<td>Family Members: 2</td>
						</tr>
					
						<!-- Column 2 -->
						<tr>
							<td>Email Address: {{user.email}}</td>
							<td>Last Name: Winston</td>
							<td>Pre-Existing Conditions: N/A</td>
							<td>Home Firearms: 1 Rifle</td>
							<td>Family Details: Wife and child</td>
						</tr>
						
						<!-- Column 3 -->
						<tr>
							<td></td>
							<td>Phone Number: (768) 657-7890</td>
							<td>Medications: N/A</td>
							<td></td>
							<td></td>
						</tr>
						
						<!-- Column 4 -->
						<tr>
							<td></td>
							<td>Address: 617 Liberty Place, Philadelphia, PA, 178290</td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</tbody>
			</table>
<br><br>
<tr><td><td><a href="#" id="xx" style="text-decoration:none;color:#000;background-color:#ddd;border:1px solid #ccc;padding:8px;">Export Table data into Excel</a></td>
<td><a href="#" id="xx" style="text-decoration:none;color:#000;background-color:#ddd;border:1px solid #ccc;padding:8px;">Export Table data into HL7</a></td></td></tr>
		
</div>

</div>

</div>


{% endblock %}
